<a href="/session/logout">LogOut</a>

<h1>All products:</h1>
<div>
  <h2>Welcome {{name}}!</h2>
</div>

<div>
    <form>
        <label for="search">Search by category:</label>
        <input type="text" id="search" placeholder="Ex: tables">

        <input type="checkbox" id="status" name="status" value="available">
        <label for="status">Only available items</label>

        <label for="sort">Sort by price:</label>
        <select name="sort" id="sort">
            <option hidden disabled selected value> -- select an option -- </option>
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
        </select>
        
        <button type="submit" id="searchButton">Search</button>
    </form>
</div>

<ul>
    {{#each products}}
    <div id="list">
        <li>{{title}} {{description}} {{code}}</br>
            {{status}} {{price}} {{stock}} {{categories}}
        </li>
    </div>
    <button>Add to cart</button>
    {{/each}}
    {{!-- <p>Next Page: {{result.hasNextPage}}</p> --}}
</ul>

<button id="previous">Previous</button>
<button id="next">Next</button>

<script>
    const nextButton = document.getElementById('next')
    const previousButton = document.getElementById('previous')
    const searchButton = document.getElementById('searchButton')
    const searchInput = document.getElementById('search')

    if (!{{result.hasNextPage}}) {
        nextButton.disabled = true;
    }

    if (!{{result.hasPrevPage}}) {
        previousButton.disabled = true;
    }

        // Redirecionamento inicial, com controle para evitar loop
    /**
    window.onload = function() {
    const hasRedirected = sessionStorage.getItem('hasRedirected');

    if (!hasRedirected) {
        const url = `http://localhost:8080/views/allproducts?page=1`;
        console.log(url);
        sessionStorage.setItem('hasRedirected', 'true');
        window.location.href = url;
    }
    }**/

    nextButton.addEventListener('click', () => {
        const searchQuery = window.location.pathname.split('/')[2];
        console.log({{result.hasNextPage}})
        if ({{result.hasNextPage}}) {
            const url = `http://localhost:8080/views/allproducts/?page={{result.nextPage}}/`;
            console.log(url);
            window.location.href = url;
        }
    })

    previousButton.addEventListener('click', () => {
        const searchQuery = window.location.pathname.split('/')[2];
        if ({{result.hasPrevPage}}) {
            const url = `http://localhost:8080/views/${encodeURIComponent(searchQuery)}/?page={{result.prevPage}}/2`;
            console.log(url);
            window.location.href = url;
        }
    });

    // Função para buscar usuários
    searchButton.addEventListener('click', () => {
    const searchQuery = searchInput.value.trim();
    if (searchQuery) {
        window.location.href = `http://localhost:8080/views/${encodeURIComponent(searchQuery)}/`;
    }
    });

</script>