<h1>Your cart</h1>
<ul>
    {{#each products}}
    <div id="list">
        <li>{{title}} {{description}} {{code}}</br>
            {{status}} {{price}} {{stock}} {{categories}}
        </li>
    </div>
    <button id="empty">Empty cart</button>
    {{/each}}
</ul>

<script>
    
</script>