<h1>Your cart</h1>
<ul>
    {{#each products}}
    <div id="list">
        <li>{{product.title}}</br>
            Description:{{product.description}} Code:{{product.code}}</br>
            Status:{{product.status}} R${{product.price}} In stock:{{product.stock}}</br>
            Categories:{{product.categories}}</br>
            Quantity:{{quantity}}
        </li>
    </div>
    {{/each}}
    <button id="empty">Empty cart</button>
</ul>

<script>

</script>