 <h1>All products:</h1>
  <ul>
    {{#each products}}
        <li>
            {{#with this}}
            <div>
                <p>
                    ID: {{id}},
                    Name: {{title}}, 
                    Description: {{description}},
                    Code: {{code}},
                    Price: {{price}},
                    Status: {{status}},
                    Stock: {{stock}},
                    Categories: {{categories}}
                </p>
            </div>
            {{/with}}
        </li>
    {{/each}}
  </ul>